<component name="ArtifactManager">
  <artifact type="war" name="spring-mvc-email:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-mvc-email-1.0.war">
      <element id="artifact" artifact-name="spring-mvc-email:war exploded" />
    </root>
  </artifact>
</component>